doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block image 
    block content2
    #footer 
      p Github: github.com/nstaniszewski
